﻿<div class="jumbotron text-left" style="height: 600px">

    <input type="button" value="Save" ng-click="save(data)">

    <input type="button" value="Cancel" ng-click="cancel()">

    <table style="width: 500px">
        <tr>
            <td style="text-align: left; vertical-align: top; padding: 0">
                Name:
            </td>
            <td style="text-align: left; vertical-align: top; padding: 0">
                <input id="name" ng-model="data.Name"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: top; padding: 0">
                Content:
            </td>
            <td style="text-align: left; vertical-align: top; padding: 0">
                <textarea rows="4" cols="50" ng-model="data.Content"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Due Date And Time
            </td>
            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="data.DueDateTime">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="data.DueDateTime"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }">
                        </datetimepicker>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align: left; vertical-align: top; padding: 0">
                IsCompleted:
            </td>
            <td style="text-align: left; vertical-align: top; padding: 0">
                <input type="checkbox" id="iscompleted" ng-model="data.IsCompleted"/>
            </td>
        </tr>
    </table>

    

</div>