﻿<div class="jumbotron text-left" >
    <h3>Todo - Home</h3>
    <button ng-click="addnew()">+ Add New</button>
    <table ng-table class="table" style="border: 1px">
        <tr ng-repeat="d in data" style="border: 1px">
            <td data-title="'Name'" style="align-items: flex-start">{{d.Name}}</td>
            <td data-title="'Content'">{{d.Content}}</td>
            <td data-title="'Due Date Time'">{{d.DueDateTime}}</td>
            <td data-title="'Is Completed?'">{{d.IsCompleted}}</td>
            <td>
                <button ng-click="modify(d)">Edit</button>
            </td>
            <td>
                <button ng-click="delete(d)">Delete</button>
            </td>
        </tr>
    </table>

</div>